---
---
/* Add your custom style here */
@import "portfolYOU";

.timeline-body:after {
    content: "";
    width: 4px;
    height: 100%;
    background-color: #dddddd;
    position: absolute;
    left: -4px;
    top: 0;
}

.timeline-body .timeline-item:after {
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 4px solid #cccccc;
    background-color: #cccccc;
    position: absolute;
    left: -16px;
    top: 24px;
    z-index: 10;
}

.my_name {
    font-family: 'Poppins', sans-serif;  // Font you like
    font-size: 2rem;                     // Size you like
    color: black;                      // Color you like
}

.my_pro {
    font-family: 'Poppins', sans-serif; // Font you like
    font-size: 1.3rem;         // Size you like
    color: gray;             // Color you like
}
